<div class="container py-3">
<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<!--<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>-->

<div>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
  <%= link_to "Back to restaurants", root_path %>

</div>
</div>
